---
const GEO_API_KEY = import.meta.env.IPGEO_API_KEY;

const lat = 52.3676;
const lng = 4.9041; 

const res = await fetch(`https://api.ipgeolocation.io/astronomy?apiKey=${GEO_API_KEY}&lat=${lat}&long=${lng}`);
const sky = await res.json();


const ASTRO_API_KEY = import.meta.env.ASTRO_API_KEY;
const ASTRO_API_SECRET = import.meta.env.ASTRO_API_SECRET;

const auth = btoa(`${ASTRO_API_KEY}:${ASTRO_API_SECRET}`);

const astroRes = await fetch(
  `https://api.astronomyapi.com/api/v2/studio/moon-phase?latitude=${lat}&longitude=${lng}`,
  {
    headers: {
      Authorization: `Basic ${auth}`,
    },
  }
);

const astroData = await astroRes.json();


console.log(astroData.data);

// const moonImage = astroData.data.imageUrl;







---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overhead</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <body>
    <header>
      <h1>The Space Above</h1>
      <p>Latitude: {lat}°, Longitude: {lng}°</p>
    </header>

    <article>
      <p>Sunrise: {sky.sunrise}</p>
    </article>

    <article>
      <p>Sunset: {sky.sunset}</p>
    </article>

    <article>
      <p>Moonrise: {sky.moonrise}</p>
    </article>

    <article>
      <p>Moonset: {sky.moonset}</p>
    </article>

    <article>
      <p>Moon Phase: {sky.moon_phase}</p>
    </article>

    <article>
      <p>Moon Illumination: {sky.moon_illumination_percentage}%</p>
    </article>


  </body>
</html>