---
const API_KEY = import.meta.env.IPGEO_API_KEY;

const lat = 52.3676;
const lng = 4.9041;  

const res = await fetch(`https://api.ipgeolocation.io/astronomy?apiKey=${API_KEY}&lat=${lat}&long=${lng}`);
const sky = await res.json();

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overhead</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  
  <body>
    <div class="container">
      <h1>Overhead</h1>
      <p id="location">Latitude: {lat}°, Longitude: {lng}°</p>
      <div id="data">
        <p>Sunrise: {sky.sunrise}</p>
        <p>Sunset: {sky.sunset}</p>
        <p>Moonrise: {sky.moonrise}</p>
        <p>Moonset: {sky.moonset}</p>
        <p>Moon Phase: {sky.moon_phase}</p>
        <p>Moon Illumination: {sky.moon_illumination_percentage}%</p>
      </div>
    </div>
  </body>
</html>