---
const API_KEY = import.meta.env.IPGEO_API_KEY;

const lat = 52.3676;
const lng = 4.9041;  

const res = await fetch(`https://api.ipgeolocation.io/astronomy?apiKey=${API_KEY}&lat=${lat}&long=${lng}`);
const sky = await res.json();

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Space Above</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  
  <body>
    <header>
      <h1>The Space Above</h1>
      <p class="coords">{lat && `${lat}° N · ${lng}° E`}</p>       
    </header>

  </body>
</html>